.ticker 
{
    padding: 5px;
    border-radius:15px;
    border:2px solid transparent;
    color:black;
}
.mono
{
    font-family: monospace;
    font-size: 1.25em;
}
.modalbody
{
    max-width:40em;
}
.flip
{
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}